<div class="tab bio">
    <div class="bioPictures">
        <div>
            <img class="profile-img" src="{{actor.prototypeToken.texture.src}}" title="{{actor.name}} Token" />
        </div>
    </div>
<div class="e3">
    <div>
        <h5> {{localize "abfalter.basicInfo.creatureBio"}} </h5>
        <div>
            <textarea name="data.creatureBio">{{data.creatureBio}}</textarea>
        </div>
    </div>
    <div>
        <h5> {{localize "abfalter.basicInfo.creatureModus"}} </h5>
        <div>
            <textarea name="data.creatureModus">{{data.creatureModus}}</textarea>
        </div>
    </div>

</div>
</div>


